langchain-ollama
langchain-community
langchain-chroma
langchain-core
langgraph
pypdf
streamlit
langchain
langchain-openai
wikipedia
python-dotenv
xmltodict
pydantic
faiss-cpu
openai
langchain-openrouter
requests
edge-tts
