langchain-ollama
langchain-community<0.3.0
langchain-chroma
langchain-core<0.3.0
langgraph
pypdf
streamlit
langchain<0.3.0
langchain-openai<0.3.0
wikipedia
python-dotenv
xmltodict
pydantic
faiss-cpu
openai
langchain-openrouter
requests
edge-tts
